* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.main-nav {
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    background: #167CB9;
}

.main-nav .nav-items {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.main-menu li #main-menu-btn {
    cursor: pointer;
    border: 0;
    font-weight: bold;
    background: #fff;
    color: #167CB9;
    padding: 10px 20px;
    border-radius: 10px;
}

.main-menu li #main-menu-btn:hover {
    opacity: 0.9;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
    color: #fff;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro .intro-img {
    width: 40%;
    height: 400px;
    margin-top: 50px;
}

.intro i {
    color: #fff;
    background-color: #167CB9;
    border-radius: 50%;
    padding: 10px;
    margin-top: 500px;
    /* margin-left: 1000px; */
}

.intro .intro-text {
    margin-top: 80px;
}

.intro .intro-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.intro .intro-text p {
    margin-bottom: 60px;
    width: 500px;
}

.badges {
    display: flex;
}

.badges img:first-child {
    width: 150px;
}

.badges img:nth-child(2) {
    width: 180px;
}

.app-info {
    margin-top: 100px;
    background: linear-gradient(rgba(255, 135, 122, 0.81), rgba(255, 135, 122, 0.81)), url(images/map.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}

.app-info .app-info-items {
    max-width: 1100px;
    height: 400px;
    display: flex;
    margin: 0 auto;
}

.app-info .app-info-items img {
    margin-top: 40px;
    margin-right: 30px;
}

.app-info .info {
    display: flex;
    flex-direction: column;
}

.app-info .info-stats {
    display: flex;
    text-align: center;
    justify-content: center;
}

.app-info .info-text h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.app-info .info-text p {
    line-height: 2;
}

.app-info-items .info-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #fff;
}

.app-info-items .info-btn:hover {
    opacity: 0.6;
}

.app-info .info {
    margin-top: 30px;
    text-align: center;
}

.app-info .info-num-text, .stats .info-value {
    font-size: 10px;
    text-align: center;
}

.app-info .info-num {
    font-size: 20px;
    font-weight: bold;
}

.app-info .info-num-text {
    margin-bottom: 10px;
}

.app-info .info-stats .stats {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.features {
    margin-top: 100px;
}

.features h2 {
    font-family: sans-serif;
    margin: 100px auto;
    color: #167CB9;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    max-width: 600px;
    position: relative;
}
.features h2:before {
    content: "";
    display: block;
    width: 460px;
    height: 0.5px;
    background: #167CB9;
    left: -250px;
    top: 50%;
    position: absolute;
}

.features h2:after {
    content: "";
    display: block;
    width: 460px;
    height: 0.5px;
    background: #167CB9;
    right: -250px;
    top: 50%;
    position: absolute;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.features .card {
    border: 1px solid #167CB9;
    border-radius: 10px;
    padding: 10px;
}

.card-top {
    height: 150px;
    padding-top: 20%;
    padding-left: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-top .iconify {
    width: 50px;
    height: 50px;
}

.card-body h3,
.card-body p {
    text-align: center;
}

.card-body h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-one {
    background: #167CB9;
    /* opacity: 0.3; */
}

.card-two {
    background: #FC8578;
    /* opacity: 0.3; */
}

.card-three {
    background: #FCD744;
    /* opacity: 0.3; */
}

.card-four {
    background: #167CB9;
    /* opacity: 0.3; */
}

.features-cards .iconify {
    text-align: center;
}

.testimonials {
    margin-top: 100px;
    background: linear-gradient(rgba(252, 215, 88, 0.81), rgba(252, 215, 88, 0.81)), url(images/map.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 20px;
}

.testimonial-items {
    max-width: 1100px;
    margin: 0 auto;
}

.testimonials .testimonial-items h2 {
    font-family: sans-serif;
    margin: 100px auto;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    /* max-width: 600px; */
    position: relative;
}

.testimonials .testimonial-items h2:before {
    content: "";
    display: block;
    width: 400px;
    height: 0.5px;
    background: #fff;
    left: 5px;
    top: 50%;
    position: absolute;
}

.testimonials .testimonial-items h2:after {
    content: "";
    display: block;
    width: 400px;
    height: 0.5px;
    background: #fff;
    right: 5px;
    top: 50%;
    position: absolute;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #FCD744;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #8eccf2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides p {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.slideshow-container .iconify {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    color: #FCD744;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.articles {
    margin-top: 100px;
}

.articles h2 {
    font-family: sans-serif;
    margin: 50px auto;
    color: #167CB9;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    max-width: 600px;
    position: relative;
}

.articles h2:before {
    content: "";
    display: block;
    width: 360px;
    height: 0.5px;
    background: #167CB9;
    left: -250px;
    top: 50%;
    position: absolute;
}

.articles h2:after {
    content: "";
    display: block;
    width: 360px;
    height: 0.5px;
    background: #167CB9;
    right: -250px;
    top: 50%;
    position: absolute;
}

.article-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article-cards .article-head img {
    width: 100%;
    border-radius: 10px;
}

.article-head {
    position: relative;
}

.article-head .name {
    color: #167CB9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-head .article-date {
    /* padding-bottom: -50px; */
    position: absolute;
    bottom: 322px;
    background: #167CB9;
    border-top-left-radius: 10px;
    padding: 5px;
    color: #fff;
}

.article-body h3 {
    padding-bottom: 10px;
}

.article-body p {
    font-size: 14px;
    width: 70%;
    margin-bottom: 40px;
    height: 80px;
}

.article-body a {
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.article-body a:hover {
    color: #167CB9;
}

.article-body a:before {
    content: "";
    display: block;
    border-top: 2px solid #167CB9;
    padding-top: 5px;
    width: 60px;
    padding-bottom: 3px;
}

.footer {
    background: #167CB9;
    color: #fff;
    font-size: 12px;
    margin-top: 100px;
    padding-top: 30px;
}

.footer .main-footer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
}

.footer .footer-info {
    width: 30%;
    padding-bottom: 30px;
}

.footer .footer-info h3 {
    padding-bottom: 10px;
}

.footer .main-three {
    display: flex;
    flex-direction: column;
}

.footer .main-three h3 {
    padding-bottom: 10px;
}

.footer .main-three input {
    padding: 5px;
}

.footer .main-three a {
    background: #fff;
    color: #167CB9;
    width: 30%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.footer .socials {
    margin-top: 10px;
    display: flex;
}

.footer .socials a {
    padding-right: 30px;
}

.footer .sub-footer {
    display: flex;
    justify-content: center;
    background: #fff;
    color: #167CB9;
}

.footer .sub-footer a {
    color: #167CB9;
}

.footer .sub-footer p,
.footer .sub-footer a {
    padding: 15px;
}

@media(max-width: 770px) {
    .main-nav {
        padding: 20px;
    }

    .intro {
        flex-direction: column;
        justify-content: center;
    }

    .intro .intro-text h2 {
        text-align: center;
    }
    
    .intro .intro-text p {
        width: 100%;
        text-align: center;
    }

    .badges {
        justify-content: center;
    }

    .intro .intro-img, .intro i {
        display: none;
    }

    .app-info .app-info-items {
        flex-direction: column;
        height: 100%;
    }

    .app-info .app-info-items img {
        width: 50%;
        margin: auto;
    }

    .app-info .info-text h2 {
        font-size: 30px;
        text-align: center;
    }

    .app-info .info-text p {
        text-align: center;
        margin: 0 30px;
    }

    .app-info-items .info-btn {
        display: flex;
        justify-content: center;
        margin: 10px 40%;
        padding: 10px 20px;
    }

    .feature-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .features h2:before {
        width: 200px;
        left: -40px;
    }
    
    .features h2:after {
        width: 200px;
        right: -40px;
    }

    .testimonials .testimonial-items h2:before {
        width: 200px;
        left: 60px;
    }
    
    .testimonials .testimonial-items h2:after {
        width: 200px;
        right: 60px;
    }

    .article-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .article-head .article-date {
        bottom: 233px;
    }

    .articles h2:before {
        width: 150px;
        left: -40px;
    }
    
    .articles h2:after {
        width: 150px;
        right: -40px;
    }

    .main-footer {
        padding: 20px;
    }

    .mySlides p {
        height: 200px;
    }
}

@media(max-width: 600px) {
    .menu-btn {
        display: block;
    }

    .main-menu li #main-menu-btn {
        display: inline-block;
        margin-top: 10px;
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #167CB9;
        width: 50%;
        height: 100%;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        border-right: 1px solid #8eccf2;
        padding-bottom: 30px;
    }

    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: 1px solid #fff;
        font-size: 14px;
    }

    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }

    .main-nav ul.main-menu.show {
        transform: translateX(-5px);
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .intro .intro-text h2 {
        margin-top: -40px;
        font-size: 30px;
    }
    
    .intro .intro-text p {
        text-align: center;
    }

    .badges {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .badges img {
        margin-bottom: 20px;
    }

    .app-info .info-text p {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .app-info-items .info-btn {
        margin: auto;
        width: 40%;
    }

    .feature-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .features h2:before {
        width: 60px;
        left: 30px;
    }
    
    .features h2:after {
        width: 60px;
        right: 30px;
    }

    .testimonials .testimonial-items h2:before {
        width: 60px;
        left: 20px;
    }
    
    .testimonials .testimonial-items h2:after {
        width: 60px;
        right: 20px;
    }

    .article-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .article-head .article-date {
        bottom: 257px;
    }

    .articles h2 {
        font-size: 18px;
    }

    .articles h2:before {
        width: 40px;
        left: -3px;
    }
    
    .articles h2:after {
        width: 40px;
        right: -3px;
    }

    .footer .main-footer {
        flex-direction: column;
    }

    .footer .footer-info {
        width: 100%;
    }

    .mySlides p {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 60%;
        max-height: 400px;
        height: 100%;
        margin-bottom: 100px;
    }

    /* .testimonials {
        margin-bottom: 50px;
    }

    .testimonials .dot {
        margin-top: -80px;
    } */
}

@media(max-width: 500px) {
    .article-head .article-date {
        bottom: 307px;
    }

    .features h2:before {
        width: 100px;
        left: 20px;
    }
    
    .features h2:after {
        width: 100px;
        right: 20px;
    }

    .testimonials .testimonial-items h2:before {
        width: 80px;
        left: 50px;
    }
    
    .testimonials .testimonial-items h2:after {
        width: 80px;
        right: 50px;
    }

    .articles h2:before {
        width: 80px;
        left: 3px;
    }
    
    .articles h2:after {
        width: 80px;
        right: 3px;
    }
}

@media(max-width: 411px) {
    .article-head .article-date {
        bottom: 257px;
    }

    .features h2:before {
        width: 80px;
        left: 20px;
    }
    
    .features h2:after {
        width: 80px;
        right: 20px;
    }

    .testimonials .testimonial-items h2:before {
        width: 70px;
        left: 30px;
    }
    
    .testimonials .testimonial-items h2:after {
        width: 70px;
        right: 30px;
    }

    .articles h2:before {
        width: 50px;
        left: 5px;
    }
    
    .articles h2:after {
        width: 50px;
        right: 5px;
    }
}

@media(max-width: 375px) {
    .article-head .article-date {
        bottom: 236px;
    }

    .features h2:before {
        width: 60px;
        left: 20px;
    }
    
    .features h2:after {
        width: 60px;
        right: 20px;
    }

    .testimonials .testimonial-items h2:before {
        width: 50px;
        left: 30px;
    }
    
    .testimonials .testimonial-items h2:after {
        width: 50px;
        right: 30px;
    }

    .articles h2:before {
        width: 30px;
        left: 5px;
    }
    
    .articles h2:after {
        width: 30px;
        right: 5px;
    }
}
